body {
  font-family: Roboto, sans-serif;
}

section {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 2rem;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

.row {
  margin: 2rem 0;
}

thead {
  background-color: #efefef;
}

.course-resources {
  padding: 2rem;
  background-color: #efefef;
}

footer {
  padding: 15px 0;
  background-color: $bgRed;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05);
  color: #fff;
  font-weight: 300;

  .lineEnd {
    float: right;
  }

  @extend %link-fontColor;
}
