$avatarSize: 120px;
$avatarSize--mobile: 80px;
$imageBorderColor: #dee2e6;

.teachers-avatar {
  display: inline-block;
  margin: 1rem;
  transform: translate3d(-1rem, 0, 0);

  .teacher-info {
    text-align: center;
  }

  .teacher-name {
    display: inline-block;
  }
}

.avatar {
  height: $avatarSize;
  width: $avatarSize;
  overflow: hidden;
  margin: 1rem 0;
  img {
    width: $avatarSize;
    border: 1px solid $imageBorderColor;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn .3s 1 ease-in;
    animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 414px) {
  .teacher-name p {
    font-size: 14px;
  }

  .avatar {
    height: $avatarSize--mobile;
    width: $avatarSize--mobile;
    margin: 1rem;
    img {
      width: $avatarSize--mobile;
    }
  }
}
