$avatarSize: 120px;

.teachers-avatar {
  display: inline-block;
  margin: 1rem;
  transform: translate3d(-1rem, 0, 0);
  p {
    text-align: center;
  }
}

.avatar {
  min-height: $avatarSize;
  min-width: $avatarSize;
  margin: 1rem 0;
  // padding: 5px;
  // border: 1px solid gray;
  border-radius: 50%;
  img {
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn .3s 1 ease-in;
    animation-fill-mode: forwards;
  }
}

